.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Container for main content and sidebar */
.container {
  display: flex;
}

/* Main content styling */
.main-content {
  flex: 1;
  padding: 20px;
}

/* Sidebar styling */
.sidebar {
  width: 300px;
  padding: 20px;
  background-color: #171717; /* Adjust the background color if needed */
}

/* Header in sidebar */
.sidebar .header {
  color: #fcfcfc; /* Change to your desired color */
}

/* Payments list styling */
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  color: #54a4b3;
  margin-bottom: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
